@model IEnumerable<OMDb.Models.Yorum>

@{
    ViewData["Title"] = "Index";

}
@{ var count = true;}
@foreach (var item in Model)
{
    if (count == true)
    {
        @Html.DisplayFor(modelItem => item.Film.Film_Adi)
        count = false;
    }
}
<h2>Yorumlar</h2>

<div style="margin:8px" class="row">
    @{
        var tempFilmId = 0;
        string path = "/Film/DetailsYorum/";
    }
    @foreach (var item in Model)
    {
        <div class="col-sm-12" style="border:outset;border-collapse:collapse;padding:8px">
            <div class=" row">
                <div class=" col-12">
                    <span style=" margin-left:6px">
                        @Html.DisplayFor(modelItem => item.Text)
                    </span>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.YorumId">Edit | </a>
                        <a asp-action="Details" asp-route-id="@item.YorumId">Details | </a>
                        <a asp-action="Delete" asp-route-id="@item.YorumId">Delete</a>
                    }
                }

            </div>
        </div>
        tempFilmId = item.FilmId;

    }
    @{path += tempFilmId.ToString(); }
    <a style="margin:5px" href="/Yorum/Create" class="w3-bar-item w3-button">Yorum yap.</a>

    <a style="margin:7px" href="@path" class="w3-bar-item w3-button">Geri dön.</a>

</div>