@model WebProgramlamaProjesi.Models.Yorum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yorum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yapan_Kullanici_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yapan_Kullanici_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yapilan_Film_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yapilan_Film_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yorum_Metni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yorum_Metni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yildiz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yildiz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
