@model OMDb.Models.Kategori
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer loc
@{
    ViewData["Title"] = "Details";
}

<h1>@loc["detay"]</h1>
@{
    List<Film> filmler2 = new List<Film>();
    filmler2 = TempData["films"] as List<Film>;
}
<div>
    <h4>@loc["kategori"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @loc["ad"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategori_Adi)
        </dd>
    </dl>
</div>
<div class="row ">

    <div class="col-sm-10">
        <div class="row">
            @foreach (var item in filmler2)
            {

                <div class="col-sm-5" style="border:outset;border-collapse:collapse;margin:10px;padding:8px;margin-left:45px">
                    <div class=" row">
                        <div class="col-md-5">
                            <img src="@item.Film_URL" width="150" />
                        </div>
                        <div class=" col-6 " style="margin-block-start:20px;float:inline-start">
                            <span class="row" style="margin-left:2px;margin:3px;margin-block:2px 10px">
                                <a asp-action="DetailsYorum" asp-route-id="@item.FilmId">@loc["isim"] @Html.DisplayFor(modelItem => item.Film_Adi)</a>
                            </span>
                            <span class="row" style=" margin-left:3px">
                                @loc["açıklama"] @Html.DisplayFor(modelItem => item.Film_Aciklamasi)
                            </span>
                        </div>
                        @*<a asp-action="Edit" asp-route-id="@item.FilmId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.FilmId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.FilmId">Delete</a>*@
                    </div>
                </div>

            }
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.KategoriId">@loc["düzenle"]</a> |
            <a asp-action="Index">@loc["geri gön"]</a>
        </div>
    }
}
