@model OMDb.Models.Film
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer loc

@{
    ViewData["Title"] = "Details";
}


@{
    var tempFilmId = 0;
    string path = "/Yorum/ShowYorums/";
    tempFilmId = Model.FilmId;
    path += tempFilmId.ToString();
}
<div style="margin:7px">
    <h1>@Html.DisplayFor(model => model.Film_Adi)</h1>
    <hr />
    <div class="row">
        <div class="col-3">
            <div>
                <img src="@Model.Film_URL" />
            </div>
        </div>
        <div>
            <div class="row">
                <div><p>@loc["kategori"]</p></div>
                <div><p>@Html.DisplayFor(model => model.Film_Kategorileri)</p></div>

            </div>
            <div class="row">
                <div><p>@loc["açıklama"]</p></div>
                <div><p>@Html.DisplayFor(model => model.Film_Aciklamasi)</p></div>
            </div>


        </div>
    </div>
    <a href="@path" class="w3-bar-item w3-button">@loc["yorum"]</a>

</div>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div>
            @*<a asp-action="Edit" asp-route-id="@Model.FilmId">Edit</a> |*@
            <a asp-action="Index">@loc["sayfaya geri"]</a>
        </div>
    }
}

<a style="margin:5px" href="/Film/ShowFilms" class="w3-bar-item w3-button">@loc["geri"]</a>
