@model OMDb.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Film_Adi)</h2>

<div>
    
    <hr />
    <div class="row">
        <div class="col-3">
            <div>
                <img src="@Model.Film_URL" />
            </div>
        </div>
        <div >
            <div class="row">
                <div><p>Film Kategorileri : </p></div>
                <div><p>@Html.DisplayFor(model => model.Film_Kategorileri)</p></div>

            </div>
            <div class="row">
                <div><p>Film Açıklaması : </p></div>
                <div><p>@Html.DisplayFor(model => model.Film_Aciklamasi)</p></div>
            </div>

            
        </div>
    </div>
           
     </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FilmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
