@model OMDb.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@{
    var tempFilmId = 0;
    string path = "/Yorum/ShowYorums/";
    tempFilmId = Model.FilmId;
    path += tempFilmId.ToString();
}
<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Adi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_Adi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Aciklamasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_Aciklamasi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_URL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Kategorileri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_Kategorileri)
        </dd>

    </dl>
    <a href="@path" class="w3-bar-item w3-button">Film yorumlarını okumak ve yorum yapmak için tıklayınız.</a>

</div>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div>
            @*<a asp-action="Edit" asp-route-id="@Model.FilmId">Edit</a> |*@
            <a asp-action="Index">Back to List</a>
        </div>
    }
}

<a href="/Film/ShowFilms" class="w3-bar-item w3-button">Geri dön.</a>
